.grid-container {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    max-width: 70%;
    border: 5px solid var(--primary-color);

    .grid-item {
        background: var(--secondary-color);
        padding: 0.5rem;
        border-radius: 0.3rem;
    }
}

.grid-container + .grid-container {
    margin-top: 2rem;
}