.exercise-1 {
    // Create a 12 column grid, every other col taking twice the free space
    grid-template-columns: repeat(6, 1fr 2fr);
    // Make the grid have 5 explicit rows, each one taking 50px in height
    grid-template-rows: repeat(5, 50px);

    // Make the first grid item (.grid-item-1) start at column 3 and take up 3columns
    .grid-item-1 {
        background: var(--primary-color);
        grid-column: 3 / span 3;
    } 

    // Make the 5th grid item a square (2x2)
    .grid-item-5 {
        background: var(--primary-color);
        grid-column: span 2;
        grid-row: span 2; 
    }

    // Make the 30th item take fullwidth except last column
    .grid-item-30 {
        background: var(--primary-color);
        grid-column: 1 / -2;
    }
}