h1 {
  color: var(--primary-color);
  font-size: 3rem;
}

.App {
  background: rgb(230,57,70);
  background: linear-gradient(45deg, rgba(230,57,70,1) 0%, rgba(29,53,87,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  text-align: center;
}

.App .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --primary-color: #e63946;
  --secondary-color: #1d3557;
  --text-color: #f1faee;
}